<footer class="footer mat-elevation-z6 mat-typography">
    <div class="footer-list">
        <div class="footer-logo">
                <img src="" />
        </div>

        <div class="footer-copyright mat-subheading-2 no-margin">
            <span class="version">Powered by Quentin R ©2018-2020</span>
        </div>

        <div class="footer-infos">
            <span>Current version : 1</span>
            <span>Last Build : 26/06/05</span>
            <span>Changesets : 17</span>
        </div>
    </div>
</footer>