$primarySchneiderBgColor: #3dcd58;
$secondarySchneiderBgColor: #009530;
$darkSchneiderBgColor: #454545;

$resolution-phone: "only screen and (min-width : 480px)";
$resolution-tablet: "only screen and (min-width : 768px)";
$resolution-computer: "only screen and (min-width : 1024px)";
