<div class="container">
    <mat-toolbar color="primary" class="toolbar mat-elevation-z6">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon  class="toggle-sidenav-icon">
                {{ (snav.opened) ? 'format_indent_decrease' : 'menu' }}
            </mat-icon>
        </button>
        <h1 class="app-name">
            <a routerLink="/">
                Hero Dashboard - Quentin Reynaud
            </a>
        </h1>
        <div class="flex-spacer"></div>
       
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" opened="true" class="mat-elevation-z6">
            <mat-nav-list>   
                <a mat-list-item routerLink="." [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </a>
                <a mat-list-item routerLink="/heroes" [routerLinkActive]="['active']">
                    <mat-icon>send</mat-icon>
                    <span>My Heroes</span>
                </a>
                <a mat-list-item routerLink="/weapons" [routerLinkActive]="['active']">
                    <mat-icon>book</mat-icon>
                    <span>My Weapons</span>
                </a>
               
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="content-container">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
